*.ipynb_checkpoints/
.DS_Store
assignments/hw1/FashionMNIST*
assignments/hw1/MNIST
.idea/*
assignments/hw2/data/*
assignments/hw2/diary/*
assignments/hw3/*/samples*
assignments/hw3/data/*
assignments/*/data